/* Login.css */
.login {
    margin-top: 50px;
}

.login h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.login form {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login p {
    color: red;
    font-size: 14px;
    text-align: left;
}